<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each promos}}
    <li data-target="#carouselExampleCaptions" data-slide-to="{{@index}}"
      class="{{#ifCond _id '==' ../slideId}}active{{/ifCond}}"></li>
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{#each promos}}
    <div class="carousel-item {{#ifCond _id '==' ../slideId}}active{{/ifCond}}">
      <img src="{{promo_img}}" class="d-block w-100"
        alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5><a href="/movies/{{_id}}">{{title}}</a></h5>
        <p>{{description}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
    data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
    data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>