<div class="main-page">
    <section class="slider">
        <div class="container">
            {{> sections/slider}}
            {{#each promos}}
            <div class="carousel-item">
                <img src="https://placekitten.com/900/400" class="d-block w-100"
                    alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{title}}</h5>
                    <p>{{description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <div class="container movies-catalog">
        <div class="row">
            {{#each movies}}
            <div class="col-md-3">
                <div class="item">
                    {{#if img}}
                    <img src="{{img}}" alt="">
                    {{else }}
                    <img src="https://placekitten.com/300/443" alt="">
                    {{/if}}
                    <h3><a href="/movies/{{_id}}">{{title}}</a></h3>
                    <a href="/movies/year/{{year}}" class="dark">{{year}}</a>
                </div>
            </div>
            {{/each}}
            <div class="col-md-12">
                <a href="/search">Перейти к поиску</a>
            </div>
        </div>
    </div>
</div>